<!doctype html>
<html lang="en">
	<head>
		
		<!-- design metas -->
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- title -->
		<title>Home - It's a pleasure</title>
		
		<!-- metas -->
		<meta http-equiv="Cache-control" content="Please clear your cache">
		
		<meta name="keywords" content="free, find page, framework, responsive, theme, html">
		<meta name="description" content="This is a framework for a website for free.">
		
		<meta name="robots" content="index, follow">
		<meta name="author" content="Delowar Hossain">
		<meta name="copyright" content="Framework">
		
		
		<!-- ========================================
			OGPs 
		============================================= -->
		<!-- facebook -->
		<meta property="fb:app_id" content="1719621885020382" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://framework.com" />
		<meta property="og:title" content="My Name" />
		<meta property="og:image" content="../../assets/images/IMAGE_NAME.png" />
		<meta property="og:image:type" content="image/jpeg" />
		<meta property="og:image:width" content="470" />
		<meta property="og:image:height" content="246" />
		<meta property="og:site_name" content="Leadme" />
		<meta property="og:description" content="my description here" />
		
		<!-- twitter card -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="">
		<meta name="twitter:creator" content="">
		<meta name="twitter:title" content="">
		<meta name="twitter:image" content="">
		<meta name="twitter:description" content="">
		
		<!-- google rich snippet -->
		<link rel="author" href="">
		<link rel="publisher" href="">
		<meta itemprop="name" content="">
		<meta itemprop="image" content="">		
		<meta itemprop="description" content="">

		
		<!-- ====================================================================
			FAVICONS : generate your favions here http://realfavicongenerator.net
		========================================================================= -->
		
		<link rel="apple-touch-icon" sizes="180x180" href="../../assets/images/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../../assets/images/favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../../assets/images/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="../../assets/images/favicons/manifest.json">
		<link rel="mask-icon" href="../../assets/images/favicons/safari-pinned-tab.svg" color="#13b5e3">
		<link rel="shortcut icon" href="../../assets/images/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="msapplication-TileImage" content="../../assets/images/favicons/mstile-144x144.png">
		<meta name="msapplication-config" content="../../assets/images/favicons/browserconfig.xml">
		<meta name="theme-color" content="#35c26d">
		
		
		<!-- ====================================================================
			stylesheets
		========================================================================= -->
		<!-- animations -->
		<link rel="stylesheet" type="text/css" href="../../assets/css/animate.css">
		
		<!-- font icons -->
		<link rel="stylesheet" type="text/css" href="../../assets/fonts/icons/font-awesome/css/font-awesome.min.css">
		
		<!-- carousel -->
		<link rel="stylesheet" type="text/css" href="../../assets/vendor/owl-carousel/owl.theme.css">
		<link rel="stylesheet" type="text/css" href="../../assets/vendor/owl-carousel/owl.transitions.css">
		<link rel="stylesheet" type="text/css" href="../../assets/vendor/owl-carousel/owl.carousel.css">
		
		<!-- main stylesheet -->
		<link rel="stylesheet" type="text/css" href="../../assets/css/custom.css">
		
		<!-- respon fix -->
		<link rel="stylesheet" type="text/css" href="../../assets/css/responsive.css">
		
		<!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css">
			<link rel="stylesheet" type="text/css" href="../../assets/css/ie.css">
			<script src="../../assets/js/respond.min.js"></script>
		<![endif]-->
		
		<!-- html:5 support -->
		<script src="../../assets/js/modernizr-2.8.3.min.js"></script>
		
	</head>
	
	<body>
	
		<!--[if IE]>
			<div>
				<p>Your browsers is out of date. Please Update your browser by <a href="http://browsehappy.com/">following link</a> </p>
			</div>
		<![endif]-->
		
		
		<header class="header">
			
			<nav>
				<ul>
					<li><a href="home.html">HOME</a></li>
					<li><a href="services.html">SERVICES</a></li>
					<li><a href="#">PROJECTS</a></li>
					<li><a href="#">SOLUTIONS</a></li>
					<li><a href="#">JOBS</a></li>
					<li><a href="#">BLOGS</a></li>
					<li><a href="#">CONTACTS</a></li>
				</ul>
			</nav>
			
			<div class="hero">
				<div class="col">
					<h2>Simple</h2>
					<h3>Responsive Template</h3>
					<p>we are not proffesional but know as soon as we are going to learn all the CSS to learn all the CSS</p>
					<a href="#">Get started now</a>
				</div>
				<div class="col">
					<img src="../../assets/images/53920.jpg" alt="">
				</div>
			</div>
		
		</header>
		
		
		<section class="main-container">
			<div class="main-section">
			
				<div class="row title">
					<h3>Resposnive css template with jquery and sliders</h3>
					<p>This is an sample paragraph about a new christmas This is an sample paragraph about a new christmas</p>
				</div>
				
				
				<div class="row">
				
					<div class="col">
						<div class="banner">
							<img src="" alt="">
						</div>
						<div class="banner-data">
							<strong>We guarantee commitment & quality</strong>
							<p>This is an sample paragraph about a new christmas This is an sample paragraph about a new christmas This is an sample paragraph about a new christmas This is an sample paragraph about a new christmas</p>
							<ul>
								<li><a href="#">Cost of the last year collection information</a></li>
								<li><a href="#">All the new posts here in new line</a></li>
								<li><a href="#">I did fight with an angry guy</a></li>
								<li><a href="#">It is my mistake of new line</a></li>
							</ul>
						</div>
					</div>
					
					<div class="col">
						<strong>latest blog posts</strong>
						<ul class="feature-list">
							<li>
								<div class="fe-img">
									<img src="" alt="">
								</div>
								<div class="fe-data">
									<p>This is an sample paragraph about a new christmas</p>
									<span>31/12/2016</span>
								</div>
							</li>
							<li>
								<div class="fe-img">
									<img src="" alt="">
								</div>
								<div class="fe-data">
									<p>This is an sample paragraph about a new christmas</p>
									<span>31/12/2016</span>
								</div>
							</li>
							<li>
								<div class="fe-img">
									<img src="" alt="">
								</div>
								<div class="fe-data">
									<p>This is an sample paragraph about a new christmas</p>
									<span>31/12/2016</span>
								</div>
							</li>
						</ul>
					</div>
					
				</div>
				
				
				<div class="row">
				
					<div class="col small-info">
						<h3>tableless construction</h3>
						<div class="sm-img">
							<img src="" alt="partners">
						</div>
						<div class="sm-data">
							<p>This is an sample paragraph about a new christmas stroy on new project.<p>
							<a href="#">View More</a>
						</div>
					</div>
					
					<div class="col small-info">
						<h3>we are hiring</h3>
						<div class="sm-img">
							<img src="" alt="partners">
						</div>
						<div class="sm-data">
							<p>This is an sample paragraph about a new christmas stroy on new project.<p>
							<a href="#">View More</a>
						</div>
					</div>
					
					<div class="col small-info">
						<h3>our partners</h3>
						<div class="sm-img">
							<img src="" alt="partners">
						</div>
						<div class="sm-data">
							<p>This is an sample paragraph about a new christmas stroy on new project.<p>
							<a href="#">View More</a>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		
		
	
		<footer class="footer">
			<div class="foot-content">
				
				<div class="widget">
					<h4>solutions</h4>
					<ul>
						<li>lorem ipsum doloer</li>
						<li>set amet de chet</li>
						<li>awesome lorem</li>
						<li>secondary data lorem</li>
					</ul>
				</div>
				
				<div class="widget">
					<h4>services</h4>
					<ul>
						<li>lorem ipsum doloer</li>
						<li>set amet de chet</li>
						<li>awesome lorem</li>
						<li>secondary data lorem</li>
					</ul>
				</div>
				
				<div class="widget">
					<h4>portfolio</h4>
					<ul>
						<li>lorem ipsum doloer</li>
						<li>set amet de chet</li>
						<li>awesome lorem</li>
						<li>secondary data lorem</li>
					</ul>
				</div>
				
				<div class="widget">
					<h4>contact us</h4>
					<address>
						<span>Email</span> someone@example.com<br>
						<span>Phone</span> +91-1234567890<br>
						<span>Address</span>
					</address>
				</div>
				
			</div>
		</footer>
	
		<!-- ===============================
			SCRIPTS
		====================================== -->
		<!-- jquery 3 X -->
		<script src="../../assets/vendor/jquery/jquery-3.1.1.min.js"></script>
		
		<!-- owl carousel -->
		<script src="../../assets/vendor/owl-carousel/owl.carousel.min.js"></script>
		
		<!-- main script -->
		<script src="../../assets/js/custom.js"></script>
	
	</body>
</html>